<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354366826329-4qajv4bo9pnhai07tvtdmhk46e9l3uqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354366826329-4qajv4bo9pnhai07tvtdmhk46e9l3uqd</string>
	<key>API_KEY</key>
	<string>AIzaSyDHEHWCXtmwtFTF2EsZEMxGyH2ZaWDJgZs</string>
	<key>GCM_SENDER_ID</key>
	<string>354366826329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frank.Tristy</string>
	<key>PROJECT_ID</key>
	<string>tristy-11833</string>
	<key>STORAGE_BUCKET</key>
	<string>tristy-11833.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354366826329:ios:7979c5a4afa9e3ebd40e48</string>
</dict>
</plist>